<html>
    <div>
        <h2>Serial Send</h2>
        <form method="POST" action="/">
            <div>{{ form.data.label }} {{ form.data(size=20) }}</div>
            {{ form.submit }}
        </form>
    </div>
</html>
