{% extends 'layout.jinja2' %}

{% block content %}

<div class="container-fluid bg-light" >

    <div class="page-header" style="text-align:center;  padding: 30px;">  
    <!-- background-color: #ABBAEA; -->
        <h1>Cablebot Dashboard</h1>
    </div>
    <!-- <div class="text-center" style="padding: 10px;">
        <input onclick="toggle_motor()" class="btn btn-warning btn-lg" type="button" value="Enable Motor" id="motorStatus"></input>
    </div> -->
    <div class="row">   
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card text-center">
                <h5 class="card-header">
                    Robot Controls
                </h5>
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills nav-justified" id="v-pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="v-pills-power-tab" data-toggle="pill" href="#v-pills-power" role="tab" aria-controls="v-pills-power" aria-selected="true">Power</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="v-pills-speed-tab" data-toggle="pill" href="#v-pills-speed" role="tab" aria-controls="v-pills-speed" aria-selected="false">Speed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="v-pills-position-tab" data-toggle="pill" href="#v-pills-position" role="tab" aria-controls="v-pills-position" aria-selected="false">Position</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="v-pills-manual-tab" data-toggle="pill" href="#v-pills-manual" role="tab" aria-controls="v-pills-manual" aria-selected="false">Manual</a>
                        </li>
                    </ul>
                </div>
                <div class='card-body'>
                    <div class="tab-content" id="v-pills-tabContent">
                        <!-- Power Control -->
                        <div class="tab-pane fade show active" id="v-pills-power" role="tabpanel" aria-labelledby="v-pills-power-tab" >
                            <!-- <h5> Controlling by Motor Power </h5> -->
                            <div style="padding-top: 10px; padding-right: 10px; padding-left: 10px;">
                                <input type="range" min="-1" max="1" value="0" step="0.1" class="slider" id="motorPower" oninput="update_power_slider()" onchange="send_motor_power()" style="padding:10px;">
                                <p>Motor Power Value: <span id="displayPower" onload="update_power_slider()"></span></p>                
                            </div>
                            <div class="text-center" style="padding: 10px;">
                                <input onclick="toggle_motor()" class="btn btn-warning btn-lg" type="button" value="Enable Motor" id="motorStatus1"></input>
                            </div>                        
                        </div>
                        <!-- Speed Control -->
                        <div class="tab-pane fade" id="v-pills-speed" role="tabpanel" aria-labelledby="v-pills-speed-tab">
                            <!-- <h5> Controlling by Encoder Speed </h5> -->
                            <div style="padding-top: 10px; padding-right: 10px; padding-left: 10px;">
                                <input type="range" min="-3" max="3" value="0" step="0.1" class="slider" id="encoderSpeed" oninput="update_speed_slider()" onchange="send_encoder_speed()">    
                                <p>Encoder Speed Value: <span id="displaySpeed" onload="update_speed_slider()"></span></p>                    
                            </div>
                            <div class="text-center" style="padding: 10px;">
                                <input onclick="toggle_motor()" class="btn btn-warning btn-lg" type="button" value="Enable Motor" id="motorStatus2"></input>
                            </div>
                        
                        </div>
                        <!-- Position Control -->
                        <div class="tab-pane fade" id="v-pills-position" role="tabpanel" aria-labelledby="v-pills-position-tab">
                            <!-- <h5> Controlling by Encoder Position </h5> -->
                            <div class="input-group mb-3" style="padding-top: 10px; padding-right: 10px; padding-left: 10px;">
                                <input type="text" class="form-control" id="encoderPosition" placeholder="Position (m)">
                                <div class="input-group-append">
                                    <button onclick="send_encoder_position()" type="button" class="btn btn-success mb-2">Submit</button>
                                </div>                            
                                <!-- <p>Encoder Position Value: <span id="displaySpeed" onload="update_speed_slider()"></span></p> -->
                            </div>
                            <div class="text-center" style="padding: 10px;">
                                <input onclick="toggle_motor()" class="btn btn-warning btn-lg" type="button" value="Enable Motor" id="motorStatus3"></input>
                            </div>                       
                        </div>
                        <!-- Send Manual Command -->
                        <div class="tab-pane fade" id="v-pills-manual" role="tabpanel" aria-labelledby="v-pills-manual-tab">
                            <div class="input-group mb-3" style="padding-top: 10px; padding-right: 10px; padding-left: 10px;">
                                <input type="text" class="form-control" id="serialSend" placeholder='{"id" : "Sensor", "enabled" : "1"}'>
                                <div class="input-group-append">
                                    <button onclick="send_serial_command()" type="button" class="btn btn-success mb-2">Submit</button>
                                </div>
                            </div>
                            <div class="text-center" style="padding: 10px;">
                                <input onclick="toggle_motor()" class="btn btn-warning btn-lg" type="button" value="Enable Motor" id="motorStatus4"></input>
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Deployment Routine -->
        <div class="col-sm-12 col-md-6 col-lg-6">         
            <div id='upload' class="card bg-secondary text-white h-100" text-white align='center' >
                <h5 class="card-header">Upload Deployment Routine</h5>
                <div class='card-body' >
                    
                    <form method="post" action="/" enctype="multipart/form-data" style="padding-top: 10px; padding-right: 10px; padding-left: 10px;">
                        <input id="file" type="file" class="inputfile" name="file" autocomplete="off" accept="text/plain" required/>
                        <input type="submit" id="uploadFileButton" class="btn btn-warning" value="Deploy Robot">
                    </form>
                    <br>
                    <!-- Progress Bar -->
                    <label for="deploymentProgress">Deployment progress:</label>
                    <div id='deploymentProgress' class="progress" style="height: 30px;">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <br> -->
    <div class='row' id="incoming" style='padding:10px;'>
        <div class='col'>
            <div class="card" text-white align='center' style='padding:10px;'>
                <h5 class="card-header">Status Monitor</h5>
                <div class='card-body' >
                    <table class = "table" id="robotLogsTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sensor Name</th>
                                <th>Value</th>
                                <th>Time Stamp</th>
                            </tr>
                        </thead>
                    </table>
                    
                </div>
            </div>    
        </div>
        <div class='col'>
            <div class="card" text-white align='center' style='padding:10px;'>
                <h5 class="card-header">Aqua TROLL Data</h5>
                <div class='card-body' >
                    <table class = "table" id="aquatrollDataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sensor Name</th>
                                <th>Value</th>
                                <th>Time Stamp</th>
                            </tr>
                        </thead>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>    

    <!-- Feedback -->
    <!-- <div id="outgoing">
        <h5>Outgoing</h5>
        {{ outgoing }}
    </div> -->

    <br>
    

</div>


<!-- Refresh page button -->
<!-- <button onclick="window.location.href='/';">
    Refresh
</button> -->

<!-- <script type="text/javascript" src="{{url_for('static', filename='javascript/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/bootstrap.bundle.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/socket.io.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/datatables.js')}}"></script> -->


<script type="text/javascript" src="{{url_for('static', filename='javascript/controls.js')}}"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='javascript/visualization.js')}}"></script> -->
<script type="text/javascript" src="{{url_for('static', filename='javascript/datatable_test.js')}}"></script>

{% endblock %}
