{% extends 'layout.jinja2' %}

{% block content %}
<!-- <h1>Motor Control</h1>
<input onclick="toggle_motor()" type="button" value="Enable Motor" id="motorStatus"></input> -->

<div class="container">

    <div class="page-header" style="text-align:center;  padding: 30px;">  
    <!-- background-color: #ABBAEA; -->
        <h1>Cablebot Dashboard</h1>
    </div>
    <div class="text-center" style="padding: 10px;">
        <input onclick="toggle_motor()" class="btn btn-warning btn-lg" type="button" value="Enable Motor" id="motorStatus"></input>
    </div>

    <div class="row">
        <!-- Power Control -->
        <div class='col' align='center' >
            <input class="btn btn-secondary" onclick="toggle_power()" type="button" value="Power Disabled" id="powerStatus"></input>
            <br><br>
            <input type="range" min="-1" max="1" value="0" step="0.1" class="slider" id="motorPower" oninput="update_power_slider()" onchange="send_motor_power()">
            <p>Power Value: <span id="displayPower" onload="update_power_slider()"></span></p>
        </div>
        <!-- Speed Control -->
        <div class='col' align='center'>
            <input class="btn btn-secondary" onclick="toggle_speed()" type="button" value="Speed Disabled" id="speedStatus"></input>
            <br><br>
            <input type="range" min="-3" max="3" value="0" step="0.1" class="slider" id="encoderSpeed" oninput="update_speed_slider()" onchange="send_encoder_speed()">    
            <p>Encoder Speed: <span id="displaySpeed" onload="update_speed_slider()"></span></p>
        </div>
        <!-- Position Control -->
        <div class='col' align='center' >
            <input class="btn btn-secondary" onclick="toggle_position()" type="button" value="Position Enabled" id="positionStatus"></input>
            <br><br>
            <form class="form-inline">
                <div class="form-group mb-2">
                    <label for="encoderPosition" class="sr-only">Password</label>
                    <input type="text" class="form-control" id="encoderPosition" placeholder="Position (m)">
                </div>
                <button onclick="send_encoder_position()" type="button" class="btn btn-primary mb-2">Submit</button>
                <!-- <button type="submit" class="btn btn-primary mb-2">Confirm identity</button> -->
            </form>
            
            <!-- Create encoder position text box
            <div class="encoder_pos_containter">
                <input type="text" id="fname" name="fname"><br><br>
            </div>
                <label for="fname">Position value:</label>
                <input type="submit" value="Submit"> -->
            <!-- Create encoder speed slider -->

        </div>

    </div>
    <!-- Upload File -->
    <div class=row>
        <div class="col-sm-6">
            <div id='upload' class="card bg-secondary text-white h-100" text-white align='center' >
                <div class='card-body'>
                    <h5 class="card-title">Upload Deployment Routine</h5>
                    <form method="post" action="/" enctype="multipart/form-data">
                        <input id="file" type="file" class="inputfile" name="file" autocomplete="off" accept="text/plain" required/>
                        <input type="submit" id="uploadFileButton" class="btn btn-warning" value="Deploy Robot">
                    </form>
                    
                    <!-- Progress Bar -->
                    <label for="deploymentProgress">Deployment progress:</label>
                    <div id='deploymentProgress' class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Progress Bar -->
        <!-- <label for="deploymentProgress">Deployment progress:</label>
        <div id='deploymentProgress' class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
        <div class="col-sm-6">
            <div class="card bg-secondary text-white h-100" align='center'>
                <div class='card-body'>
                <h5 class="card-title">Send Serial Command</h5>

                    <form method="POST" action="/">
                        {{ form_long.csrf_token }}
                        <div>{{ form_long.json(size=20) }}</div>
                        {{ form_long.submit }}
                    </form>
                </div>
            </div>
        </div>

    
    </div>

    <!-- Feedback -->
    <!-- <div id="outgoing">
        <h5>Outgoing</h5>
        {{ outgoing }}
    </div> -->

    <br>
    <div class='row' id="incoming">
        <h5>Incoming</h5>
        <table class = "table" id="sqlTable">
        </table>    
    </div>

</div>


<!-- Refresh page button -->
<!-- <button onclick="window.location.href='/';">
    Refresh
</button> -->


<script type="text/javascript" src="{{url_for('static', filename='javascript/controls.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/visualization.js')}}"></script>

{% endblock %}
